body {
	background-color: #ffb182;
	font-family: "Ubuntu", "Helvetica", "Times", serif;
	margin: 0 20%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

div {
	color: #444444;
}

div.c1 {
	font-size: 2rem;
	color: #444444;
}

div.c2,
div.c3,
div.c4,
div.c5,
pre {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	color: #9e7777;
}

div.footnotes {
	background-color: #f5e8c7;
}

p {
	font-size: 1.2em;
	font-weight: 400;
	padding-bottom: 1.2em;
}

img,
img#cover {
	border: 10px outset #444444;
}

figcaption {
	font-style: italic;
	font-size: 0.8em;
}

table {
	margin: auto;
}

td {
	padding-bottom: 0.5em;
	font-style: italic;
}

a:link {
	color: #444444;
}
